.BrainBuddy-Button-container {
  position: fixed;
  top: 5%;
  right: 2%;
  border: 0.5px solid skyblue;
  border-radius: 12px;
  padding: 4px;
  background-color: black;
}
@media (max-width: 685px) {
  .BrainBuddy-Button-container {
    top: 78%;
    right: 5%;
  }
}

@media (max-width: 420px) {
  .BrainBuddy-Button-container {
    top: 32%;
    right: 5%;
  }
}

.BrainBuddy-Button-container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    45deg,
    transparent 30%,
    rgba(135, 206, 235, 0.4) 50%,
    transparent 70%
  );
  filter: blur(8px);
  animation: diagonalSwipe 7s ease-in-out infinite;
  animation-delay: 4s;
  pointer-events: none;
}
@keyframes diagonalSwipe {
  0% {
    transform: translate(-100%, -100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.BrainBuddy-Button-container {
  overflow: hidden;
}
